.grid-container {
    width: 100%;
    display: grid;
    gap: 1px;
    background-color: #5C7CFA;
    opacity: 30%;
    z-index: -10;
    position: absolute;
    left: 0px;
    top: 0px;
}

.grid-item {
    background-color: #ffffff;
    z-index: -10;
}

.main {
    z-index: 9;
}

.nav-bar {
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
    text-decoration: none;
    list-style-type: none;
    background: transparent;
    justify-content: space-around;
}

.logo {
    background-color: #ffffff;
    color: #242635;
    vertical-align: text-top;
    font-size: 24px;
    letter-spacing: -0.25px;
    line-height: 36px;
    border-style: hidden;
    outline: none;
    list-style-type: none;
    background: transparent;
    justify-items: center;
    /* border: solid 1px black; */

}

.menu {
    color: #242635;
    text-align: left;
    vertical-align: text-top;
    font-size: 16px;
    font-family: Source Sans Pro;
    line-height: 22px;
    border-style: hidden;
    outline: none;
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    /* border: solid 1px black; */
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    color: #242635;
    text-align: left;
    vertical-align: text-top;
    font-family: Poppins;
    border-style: hidden;
    outline: none;

}

.content {
    color: #242635;
    text-align: center;
    vertical-align: text-top;
    font-family: Source Sans Pro;
    border-style: hidden;
    outline: none;
}

@media screen and (max-width: 320px) {
    .logo {
        font-family: Baloo;
    }

    .grid-container {
        grid-template-columns: repeat(10, 32px);
        grid-template-rows: repeat(10, 56.8px);
    }

    .title {
        font-size: 36px;
        letter-spacing: -0.800000011920929px;
        line-height: 39.599998474121094px;
        width: 182px;
        margin-top: 30px;
    }

    .content {
        font-size: 12px;
        line-height: 18px;
        width: 217px;
        margin-top: 30px;
    }

    .image {
        margin-top: 50px;
        margin-left: 10px;
        width: 265px;
        height: 284px;
        content: url("../images/horses-mobile.png");
    }
}

@media screen and (min-width: 321px)and (max-width: 768px) {
    .logo {
        font-family: Baloo;
    }

    .grid-container {
        grid-template-columns: repeat(10, 76.8px);
        grid-template-rows: repeat(10, 102.4px);
    }
    .title {
        font-size: 72px;
        letter-spacing: -1.600000023841858px;
        line-height: 82.80000305175781px;
        width: 364px;
        margin-top: 215px;
    }

    .content {
        font-size: 22px;
        line-height: 33px;
        width: 573.5px;
        margin-top: 25px;
    }

    .image {
        margin-top: 43px;
        margin-left: 20px;
        width: 625px;
        content: url("../images/horses-tablet.jpg");
    }
}

@media screen and (min-width: 769px) {
    .nav-bar {
        margin-top: 38px;
        margin-left: -30px;
        width: 100%;
        text-align: left;
    }

    .logo {
        font-family: Aldrich;
        margin-left: -18px;
    }

    .menu {
        width: 13%;
        margin-left: -75px;
    }

    .grid-container {
        grid-template-columns: repeat(10, 144px);
        grid-template-rows: repeat(10, 81px);
    }

    .title {
        font-size: 90px;
        letter-spacing: -2px;
        line-height: 102px;
        width: 455px;
        margin-top: 120px;
    }

    .content {
        font-size: 22px;
        line-height: 33px;
        width: 573.5px;
        margin-top: 30px;
    }

    .image {
        content: url("../images/horses-desktop.jpg");
        margin-top: 50px;
        margin-left: 36px;
        width: 870px;
    }
}